.large_list {
    font-size: 1.2em;
}
.large_list > li {
    border-bottom: 1px solid #ccc;
}
.large_list header.link-header {
    padding: 10px 20px;
    cursor: pointer;
}
.large_list a.link-url {
    line-height: 1.4;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.large_list a:hover {
    text-decoration: underline;
}
.large_list .load-more {
    padding: 10px 20px;
}
.large_list .link-info {
    padding: 10px 24px 14px;
    background: rgba(0, 0, 0, 0.008);
    border-top: 1px solid #ccc;
    line-height: 1em;
    font-size: 75%;

    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.05), inset 0 -1px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.05), inset 0 -1px 5px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.05), inset 0 -1px 5px rgba(0,0,0,0.05);
}
.link-info .link-date {
    float: right;
}
.link-info .link-header {
    border-bottom: 1px solid #ccc;
    padding: 4px 15px;
}
.link-info .link-description {
    margin-top: 15px;
    padding: 0px 15px;
}
.link-info .comments-length {
    margin-left: 15px;
    margin-top: 12px;
}
.link-info .comment_form {
    padding-bottom: 10px;
}
.link-info .comment-header {
    border-bottom: 1px solid #ccc;
    padding: 10px 8px 8px;
}
.comments-container .box__header {
    padding: 8px 14px;
}
.comment {
    padding: 0 8px;
}
.comment .comment-text {
    padding: 8px;
}

.padded {
    padding: 10px 20px;
}
/*
    $-BUTTONS
*/
.btn {
    padding: 0.3em 0.8em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: white;
}
    .btn:hover {
        border-color: #bcbcbc;
        text-decoration: none; 
        box-shadow: 0px 1px 1px rgba(227, 227, 227, 0.2);
    }
    .btn:focus,
    .btn:active {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#f4f4f4));
        background-image: -moz-linear-gradient(#ececec, #f4f4f4);
        background-image: -o-linear-gradient(#ececec, #f4f4f4);
        background-image: linear-gradient(#ececec, #f4f4f4);
    }
    /* overrides extra padding on button elements in Firefox */
    .btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .btn-group .btn {
        margin-right: 4px;
    }
    .btn-group .btn:last-child {
        margin-right: 0;
    }
/*
    $-BUTTON-MODIFIERS
*/
.btn-small {
    padding: 0.2 0.4;
    font-size: 85%;
}
.btn-large {
    padding: 0.5em 1em !important;
    font-size: 100%;
}
.btn-large-thin {
    padding: 0.5em 0.75em 0.5em 0.75em;
}
.btn-block {
    display: block;
}


