<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/handlebars-v1.3.0.js"></script>

<script src="{{ STATIC_URL }}js/ajax_setup.min.js"></script>

<script src="{{ STATIC_URL }}js/app/ferah.utils.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.ajax.js"></script>

<script src="{{ STATIC_URL }}js/app/templates/utils.js"></script>
<script src="{{ STATIC_URL }}js/app/templates/large_list.js"></script>
<script src="{{ STATIC_URL }}js/app/templates/link.forms.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.modal.js"></script>

<script src="{{ STATIC_URL }}js/jango_forms.min.js"></script>
<script src="{{ STATIC_URL }}js/jango_endless.min.js"></script>