<meta name="viewport" content=" width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="description" content="List Creation">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/vendor/bootstrap.min.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/vendor/bootstrap.forms.min.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/vendor/bootstrap.forms.theme.min.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/vendor/font-awesome.min.css" rel="stylesheet">

<!-- ******** -->
<!-- These files should ideally be consolidated for production -->
<!-- ******** -->

<!-- Site wide generic styles -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/reset.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/grid.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/base.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/element.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/helpers.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/forms.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/modal.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/objects.css?{% now "U" %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/box.css?{% now "U" %}" />